#main{
	display:flex;
	height:91vh;
}
#panel{
	width:85%;
	background-color:var(--fg);
	border-radius:var(--gbr);
	border:2px solid var(--g1);
	padding:var(--gp);
	margin-right:var(--gp);
	margin-bottom:var(--gp);
}

#sidebar{
	flex-direction:column !important;
	width:15%;
}

table{
	width:100%;
	

}
.scroller{
	overflow-y:auto;
}
table tr{
	width:100%;

}


table tr:first-of-type{
	position:relative;
}
table tr:first-of-type td{
	position:  relative;

}
table tr:first-of-type:before{	
 	content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid black;
        z-index: 2;
	
}

table tr td{
	width:calc(100% / 8);
	background-color:red;
}
#cp3{
	height:100%;
}

#cli{
	background-color:black;
	width:calc(100% - 2 * var(--gp));
	height:calc(100% - 2 * var(--gp));
	
	border-radius:var(--gbr);
	color:white;
	padding:var(--gp);
	display:flex;
	flex-direction:column;
}
#cli p{
	margin:0px;
}
#cli-scroller{
	overflow-y:auto
}

#cline{	
	margin-top:auto;
	margin-right:auto;
	color:white;
	width:100%;
	display:flex;
	flex-direction:row;

}

#clineinput:focus {
	outline:none
}
#clineinput {
	color:white;
	border:none;
	background-color:black;
}
